<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>login</title>
</head>
<body>
  <h1>login</h1>
  <div style: "width: 80%; heigth: 100%;">
    <div class="form-group">
      <label for="email">email :</label>
      <input name="email" type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="senha">senha :</label>
      <input name="senha" type="senha" class="form-control" id="senha">
    </div>
    <button type="submit" class="btn btn-default" id="login-btn">login</button>
  </div> 
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  $('#login-btn').on('click', function() {
    var email = $('#email').val();
    var senha = $('#senha').val();

    var user = JSON.stringify({email: email, senha: senha});

    var xhr = new XMLHttpRequest();
    xhr.open("POST", "https://localhost:3000/token/");
    xhr.setRequestHeader("Authorization", localStorage.getItem("token"));
    xhr.setRequestHeader("Content-type", "application/json; charset = utf-8");
    xhr.onreadystatechange = function () {
      if(xhr.status == 200 && xhr.readyState == 4) {
        var data = JSON.parse(xhr.response);
        console.log(data);
        console.log(data.token);
        localStorage.setItem("token", "Bearer " + data.token);
        console.log(localStorage.getItem("token"));
      }
    }
    xhr.send(user);
  });
</script>  
</html>