<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <div style: "width: 80%; heigth: 100%;">
    <div class="form-group">
      <label for="email">email :</label>
      <input name="email" type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="senha">senha :</label>
      <input name="senha" type="password" class="form-control" id="senha">
    </div>
    <button type="submit" class="btn btn-default" id="login-btn">Login</button>
  </div> 
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script>
  $(function () {
    $.ajax({
      type: 'GET',
      url: "http://localhost:3000/Cidades",
      success: function (data) {
        console.log('success', data);
      },
      error: function() {
        console.log("Erro T.T")
      }
    });
  });

  
  
  $('#cadastrar-btn').on('click', function() {
    var nome = $('#nome').val();
    var estado = $('#estado').val();

    var cidade = JSON.stringify({nome: nome, estado: estado});

    $.ajax({
      url: '/Cidades',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: cidade,
      success: function() {
        console.log(cidade);
      },
      error: function() {
        console.log('erro');
      }
    });
  });
 
</script>  
</html>